<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     BIBLIOGRAFÍA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"  >Silvia Chaluisa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card style="
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */" 
  class="p-3 border-2 border-gray-100 rounded-lg">
      <div class="flex flex-col items-center gap-4">
       
  
      
        <div class="text-center">
          <ion-card-header>
           
            <ion-card-title class="pb-3 text-lg">Silvia Verónica Chaluisa</ion-card-title>
            <ion-label class="text-black text-justify text-lg font-bold italic">
              Edad: 26 años <br>
              Nacionalidad: Ecuatoriana
            </ion-label>
          </ion-card-header>
        </div>
      </div>
    </ion-card>
  </div>

  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-3">
    
   

    <ion-card class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 p-3 border-2 border-gray-600 rounded-lg">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="globe-outline"></ion-icon>
          INTERESES
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="text-center text-white border-2 border-gray-800 rounded-lg">
          <ion-item>
            <ion-label>Aprender Idiomas</ion-label>
            <ion-label>Ingles, Italiano</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Deportes</ion-label>
            <ion-label>Trekking, Hiking, Escalada, Entrenamiento con Pesas</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Fotografía</ion-label>
            <ion-label>Capturar Momentos</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Viajar</ion-label>
            <ion-label>Conocer nuevos lugares</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Redes Sociales</ion-label>
            <ion-label>Facebook, Instagram, Tik Tok</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Libros Favoritos</ion-label>
            <ion-label>Culpa Tuya, Pideme lo que quieras, Bajo la misma estrella</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
  
  
  
</ion-content>