<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA CUADRÁTICA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
 
 
  <br><ion-button shape="round">Round</ion-button>
  <ion-button shape="round">Round</ion-button>
  <ion-button shape="round">Round</ion-button>
  <ion-button shape="round">Round</ion-button>
  
  
</ion-content>
